<div class="app-block app-block-guided col-xs-12">
  <h2 class="title">{{contentTitle}}</h2>	
  <div class="content">
    <div class="row">
      <label class="col-xs-5 col-md-offset-3 control-label">
      {{vars.version.title}}:
      </label>
      <div class="col-xs-5">
        <select id="diagnosticTools:productVersion" name="diagnosticTools:productVersion" class="form-control" size="1" ng-model="version" ng-change="inputChanged()">	    
        <option value="6">Red Hat Enterprise Linux 6</option>
        <option value="5">Red Hat Enterprise Linux 5</option>
        <option value="4">Red Hat Enterprise Linux 4</option>
        </select>
      </div>
    </div> <!-- /row -->

    <div class="row">			
        <button class="btn btn-primary next" style="left:43.3%" ng-click="generate()">Generate
        </button>
    </div>
    
  </div> 
</div> 

<div class="app-block app-block-guided col-xs-12" id="resultsId" ng-show="resultshow">
  <h2 class="title">{{resultTitle}}</h2>
  <div class="content" >
    <div class="row" >
      <div class="col-sm-10 col-sm-offset-2">
        <p>{{resultData}}<p>
        <a href ng-click='export(resultData,"export.csv","text/csv","colA,colB","","")' style="font-size:11pt">Export-blob</a><br>
        <a href ng-click='export2ZIP(resultData,"export.zip","application/zip")' style="font-size:11pt">Export-blobZIP</a><br>
        
        <!-- Downloadify -->
        <a id="DownloadifyCSV"></a>
        <br>
        <a id="DownloadifyZIP"></a>
        <br>
        
        <!-- Opensave-->
        <d id="opensaveParent"><a id="opensave"></a></d>
        <div id="opensaveData" ng-show="0" >{{flashData[1]}}</div>
        
      </div>		    
    </div><!--</div class='row' -->
  </div>
</div>
