
<div id="content-area">
  <div class="ng-scope" ng-controller="AppCtrl">
    <h1><%= $lab_name %></h1>
    <p class="exlainstyle">{{desc}}</p>
    <div class="row">
      <div class="col-md-12">
	<form class="form-horizontal">
	
	  <div class="app-block">
	    <h2 class="title">{{contentTitle}}</h2>
	    <div class="content">
	    
	      <div class="form-group">
		<label class="col-xs-4 col-md-offset-3 control-label">
		  {{vars.version.title}}:
		</label>
		<div class="col-xs-5">
		  <select id="diagnosticTools:productVersion" name="diagnosticTools:productVersion" class="form-control" size="1" ng-model="version" ng-change="inputChanged()">	    
		    <option value="6" selected>Red Hat Enterprise Linux 6</option>
		    <option value="5">Red Hat Enterprise Linux 5</option>
		    <option value="4">Red Hat Enterprise Linux 4</option>
		  </select>
		</div>
	      </div>
	      
	      <div class="row" id="calculateGroup">
		<div class="col-sm-6 col-sm-offset-4">
		  <div class="input-group">
		    <button id="calcuateButton" class="btn btn-default btn-lg" ng-click="generate()">Generate
		    </button>
		  </div>
		</div>
	      </div>
	    
	    </div><!--div class="content"-->
	  </div><!--div class="app-block"-->

	  <div class="app-block" id="resultsId" ng-show="resultshow">
	    <h2 class="title">{{resultTitle}}</h2>
	  
	  </div><!--div class="app-block"-->
	  
	</form><!--form-->
      </div><!--div class="col-md-12"-->

    </div><!--div class="row"-->
  </div><!--div class="ng-scope"-->
</div><!--div id="content-area"-->
